MAP_API_KEY=your-google-maps-api-key
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8080/api/v1
EXPO_PUBLIC_DRIVER_TRIPS_BASE_URL=http://10.0.2.2:8084/api/v1/driver-trips
EXPO_PUBLIC_LOCATION_BASE_URL=http://10.0.2.2:8081/api/v1/location
